@mixin lightToDark {
  border-radius: 0.3rem;
  border: white solid 0.08rem;
  padding: 0.3rem 0.8rem;
  margin: 1rem 2rem 0 0;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;

  &.home-project-cta,
  &.about-project-cta,
  &.single-live-cta,
  &.live-site-cta,
  &.linkedin-cta {
    background-color: white;
    color: black;

    &:hover,
    &:active {
      background-color: black;
      color: white;
    }
  }
}

@mixin darkToLight {
  @include lightToDark;

  &.home-about-cta,
  &.about-contact-cta,
  &.single-github-cta,
  &.copy-email-btn {
    color: white;
    background-color: black;

    &:hover,
    &:active {
      background-color: white;
      color: black;
    }
  }
}

@mixin slideRightCTA {
  &.featured-projects-cta,
  &.single-github-cta,
  &.read-more-cta {
    text-align: end;
    color: white;
    // margin-right: 0.5rem;
    animation: bounceRight 0.7s infinite alternate;
    // text-shadow: 0 10px 10px rgba(255, 255, 255, 0.5);
  }

  @keyframes bounceRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(10px);
    }
  }
}
