.home-page {
  margin: auto auto 2.5rem auto;
  max-width: 1200px;

  .profile-section {
    display: grid;
    margin: 0 1rem;
    grid-template-areas:
      "profile    ."
      "CTA        .";

    .profile-content {
      grid-area: profile;
      margin: 1rem auto;

      .in-depth-greet{
        margin: 0 1rem 0 0;
      }
    }

    .home-cta {
      display: flex;
      justify-content: flex-start;
      grid-area: CTA;
    }

   
  }

  // _______Featured Project Section_______________________________

  .featured-project-section {
    margin: 2rem 1rem;
  }
  .featured-project-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // ______CTAs & Links___________________________________________

  a {
    font-weight: 550;
    text-decoration: none;
    font-size: initial;
  }

  .home-project-cta {
    @include lightToDark;
  }

  .home-about-cta {
    @include darkToLight;
  }

  .featured-projects-cta {
    @include slideRightCTA;
  }
}
