.home-page {
  @include pagesMargins;
  // max-width: 1200px;

  .profile-section {
    display: grid;
    margin: 0 1rem;
    grid-template-areas:
      "profile    ."
      "CTA        .";

    .profile-content {
      grid-area: profile;
      margin: 1rem auto;

      .in-depth-greet {
        margin: 0 1rem 0 0;
      }
    }

    .home-cta {
      display: flex;
      justify-content: flex-start;
      grid-area: CTA;
    }
  }

  // _______Featured Project Section_______________________________

  .featured-project-section {
    margin: 2rem 1rem;
  }
  .featured-project-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // ________Universal + Specific Media Queries___________________________________________

  @media screen and (min-width: 800px) {
    @include min-width800;
  }

  @media screen and (min-width: 1000px) {
    @include min-width1000;

  }

  // ______CTAs & Links___________________________________________

  a {
    font-size: initial;
  }

  .home-cta {
    margin-top: 1rem;

    .home-project-cta {
      @include lightToDark;
    }

    .home-about-cta {
      @include darkToLight;
    }
  }

  .featured-projects-cta {
    @include slideRightCTA;
  }
}
