.projects-page {
  margin: 0 1.5rem 2.5rem 1.5rem;

  h2 {
    margin: 0 0 0 1rem;
    width: fit-content;
  }

  .debriefing {
    text-align: center;
    margin: 0 0 3.5rem 0;
  }

  .project-teaser {
    border: solid 0.1rem white;
    border-radius: 0.3rem;
    margin: 1rem auto;
    padding: 1rem;

    img {
      position: relative;
    }

    .teaser-content {
      border: solid 0.1rem white;
      border-radius: 0.3rem;
      margin: 1rem;
      padding: 1rem 1rem 2rem 1rem;
      max-width: 300px;
    }

    .tech-stack {
      margin: 0 0 0 1.2rem;
    }
  }

  // ________Universal + Specific Media Queries___________________________________________

  @media screen and (min-width: 600px) {
    max-width: 900px;
    margin: 0 3.8rem 2.5rem 3.8rem;
    font-size: larger;
  }

  @media screen and (min-width: 1000px) {
    max-width: 1100px;
    padding: 0 3.3rem;
    margin: 0 auto 2.5rem auto;
  }

  // ______CTAs & Links___________________________________________

  a {
    font-weight: 550;
    text-decoration: none;
    font-size: initial;
  }

  .project-main-cta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .live-site-cta {
      @include lightToDark;

      display: flex;
      align-items: center;
      justify-self: center;
      padding: 0.5rem auto 0.5rem auto;
      margin-right: 0.5rem;

      svg {
        margin-left: 0.3rem;
      }
    }

    .read-more-cta {
      @include slideRightCTA;
      margin: 1rem 0.5rem 0 0;
    }
  }
}
