.single-project-page {
  @include pagesMargins;

  h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0 1rem 0;
    text-align: center;
  }

  .project-media {
    margin: 0 0 5rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    .single-featured-media{
      display: none;
    }

    .slick-slider {
      position: relative;
      // border: 0.1rem white solid;
      text-align: center;
      width: 16rem;
      height: -webkit-fill-available;

      .slick-list {
        overflow: hidden;

        .slick-track {
          display: flex;
          // align-items: flex-start;
          justify-content: center;

          .slick-slide {
            // outline: none;
            width: 100%;

            img {
              max-width: 15rem;
              height: auto;
              object-fit: cover;
            }

            video {
              width: 15rem;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }

      button {
        cursor: pointer;
        outline: none;
        position: absolute;
        bottom: -1.5rem;
      }

      .slick-prev {
        @include darkToLight;
        left: 0;
        z-index: 1;
        margin: 0;
      }

      button.slick-arrow.slick-next {
        @include darkToLight;
        right: 0;
        z-index: 1;
        margin: 0;
      }

      .slick-dots {
        display: none;

        li {
          display: none;
        }
      }
    }
  }

  .specifications {
    text-align: center;
    margin: 2.5rem 0;
    // border-top: 0.1rem white solid;

    .roles {
      margin: 1.5rem 0;
    }

    .tools {
      margin: 2rem 0;

      .tools-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        span{
          margin: 0 .5rem .3rem 0;
        }
      }
    }
  }

  .in-depth-info {
    max-width: 100%;
    overflow-x: hidden;
    margin: 2.5rem 0;
    .tab-container {
      position: relative;
      width: 100%;

      .tab-togglers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;

        h3 {
          border: 0.1rem white solid;
          border-radius: 0.3rem;
          cursor: pointer;
          margin: 0 0 0.4rem 0;
          padding: 0.5rem 2rem;
          flex-grow: 1;
        }

        h3.active {
          background-color: white;
          color: black;
        }
      }

      .tab-content {
        position: relative;
        overflow-y: auto;
        height: 18rem;

        .tab-section {
          display: none;

          &.active {
            display: block;
            z-index: 1;
            background-color: white;
            border-radius: 0.3rem;
            color: black;
            padding: 1.5rem 2rem 0.5rem 2rem;

            a {
              color: black;
              text-decoration: underline;
            }

            ul {
              padding-inline-start: 0.8rem;

              li {
                list-style-type: disc;
                margin: 0.5rem 0;
              }
            }
          }
        }
      }
    }
  }

  // ________Universal + Specific Media Queries___________________________________________


  @media screen and (min-width: 600px) {
    h1 {
      text-align: left;
    }

    .introduction {
      .brief-info {
        display: grid;
        grid-template-areas:
          "overview"
          "specifications";

        .overview {
          grid-area: overview;
        }

        .specifications {
          grid-area: specifications;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-evenly;
          align-items: center;
          border-top: none;
          margin: 0;

          .roles {
            justify-self: center;
            padding-right: auto;
          }
          
          .divider{
            width: 1px;
            height: 80%;
            background-color: white;
          }
          
          .tools {
            justify-self: start;
          }
        }
      }
    }
    
    .in-depth-info {
      .tab-container {
        .tab-togglers {
          display: flex;
          justify-content: space-around;
          flex-wrap: nowrap;
          flex-direction: row;
          text-align: center;
          margin: 0;
          gap: .5rem;

          h3 {
            border: 0.08rem white solid;
            // margin: 0 .2rem .4rem .2rem;
          }
          
          h3.active {
            margin: 0;
            border: none;
            border-radius: 0.3rem 0.3rem 0 0;
          }
        }

        .tab-content {
          .tab-section {
            &.active {
              border-radius: 0 0 0.3rem 0.3rem;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    @include min-width800;
  }

  @media screen and (min-width: 1000px) {
    @include min-width1000;

    .project-media{
      margin: 0 2rem 5rem 2rem;

      .single-featured-media{
        display: block;
        max-width: 35rem;
        max-height: 32rem;
        object-fit: contain;
        margin: 0 1.5rem 0 0;
      }
    }
  }

  // ______CTAs & Links___________________________________________

  .single-externals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 600px) {
      justify-content: flex-end;
    }

    .single-github-cta,
    .single-live-cta {
      display: flex;
      align-items: center;
      justify-self: center;
      flex-wrap: nowrap;
      padding: 0.5rem auto 0.5rem auto;

      svg {
        margin-left: 0.3rem;
      }
    }

    .single-github-cta {
      @include darkToLight;
    }

    .single-live-cta {
      @include lightToDark;
      margin-right: 0;
    }
  }

  .return-projects-cta{
    @include slideLeftCTA;
  }
}
