.footer-container {
  margin: 5rem 0 0 0;
  border-top: 0.08rem white solid;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  // position: static;
  bottom: 0vh;
}

.thumb-nav-parent {
  position: relative;
}
