.bottom-nav-container {
    margin: 1.5rem 0 0 0;
}

.footer-container {
  border-top: 0.08rem white solid;
  text-align: center;
  padding: 1rem 0;
  width: 100%;

}

.thumb-nav-parent {
  position: relative;
}
