.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-nav {
    border-bottom: 0.08rem white solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    ul.home-menu,
    ul.nav-menu {
      margin: 0;
      padding: 0;
    }

    h4 {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    ul.home-menu,
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        margin: 0 2rem;
      }
    }
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .left-nav {
    position: fixed;
    z-index: 999;
    bottom: 2vh;
    left: 0;
    margin: 0 1rem 0 1rem;

    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: transparent;

    .left-ctas {
      margin-bottom: 8.2rem;

      .linkedin-cta {
        padding-bottom: 1rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .line-left {
      width: 1px; 
      height: 100px;
      background-color: white;
      position: absolute;
      bottom: 0vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .right-nav {
    position: fixed;
    z-index: 999;
    bottom: 2vh;
    right: 0;
    margin: 0 1.8rem 0 1rem;
    text-orientation: upright;
    background-color: transparent;

    button {
      background-color: transparent;
      border: none;

      a {
        transform: rotate(90deg);
        display: inline-block;
        white-space: nowrap;
        transform-origin: bottom right;

        .copy-icon{
          margin-right: 1rem;
        }

        .line-right {
          display: inline-block;
          width: 100px; 
          height: 1px; 
          background-color: white; 
          margin-left: 4px;
          
        }
      }
    }
  }

  .left-nav,
  .right-nav,
  ul.nav-menu {
    display: none;
  }

  @media screen and (min-width: 800px) {
    margin-bottom: 1rem;

    .left-nav,
    .right-nav,
    ul.nav-menu {
      display: block;
    }

    ul.nav-menu {
      display: flex;
      justify-content: flex-end;

      li {
        margin: 0 2rem;
      }
    }
  }

  @media screen and (min-width: 1300px) {
    .left-nav {
      margin-left: 2rem;
    }

    .right-nav {
      margin-right: 2rem;
    }
  }
}
