.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 700px) {
    margin-bottom: 1rem;

    .left-nav,
    .right-nav {
      display: block;
    }
  }
}

.header-nav {
  border-bottom: 0.08rem white solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  ul.home-menu,
  ul.nav-menu {
    margin: 0 0 1.8rem 0;
  }

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 2rem;
    }
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

.left-nav {
  position: fixed;
  z-index: 999;
  bottom: 3vh;
  left: 0;
  margin: 0 0.8rem;

  writing-mode: vertical-lr;
  text-orientation: upright;
  color: black;
  background-color: whitesmoke;
}

.right-nav {
  position: fixed;
  z-index: 999;
  bottom: 3vh;
  right: 0;
  margin: 0 0.8rem;

  writing-mode: vertical-lr;
  text-orientation: upright;
  color: black;
  background-color: whitesmoke;
}

.nav-menu {
  display: none;
}

.left-nav,
.right-nav {
  display: none;
}

@media screen and (min-width: 700px) {
  .nav-menu,
  .left-nav,
  .right-nav {
    display: block;
  }
}
