.thumb-nav-container {
  display: block;
  background-color: wheat;
  padding: 0 2rem .5rem 0;

  a {
      color: black;
  }

  ul.nav-menu{
    display: flex;
    justify-content: space-evenly;
  }

  li{
    margin: 0 1.3rem;
  }
}

.thumb-nav-container {
  position: sticky;
  z-index: 99;
  bottom: 0;
}

@media screen and (min-width: 700px) {
  .thumb-nav-container {
    display: none;
  }
}
