.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .header-nav {
  border-bottom: 0.08rem white solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header-container .header-nav ul.home-menu,
.header-container .header-nav ul.nav-menu {
  margin: 0;
  padding: 0;
}
.header-container .header-nav h4 svg {
  width: 1.5rem;
  height: 1.5rem;
}
.header-container .header-nav ul.home-menu,
.header-container .header-nav ul {
  display: flex;
  justify-content: flex-end;
}
.header-container .header-nav ul.home-menu li,
.header-container .header-nav ul li {
  margin: 0 2rem;
}
.header-container .header-nav .visible {
  display: flex;
}
.header-container .header-nav .hidden {
  display: none;
}
.header-container .left-nav {
  position: fixed;
  z-index: 999;
  bottom: 3vh;
  left: 0;
  margin: 0 0.8rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: black;
  background-color: whitesmoke;
}
.header-container .right-nav {
  position: fixed;
  z-index: 999;
  bottom: 3vh;
  right: 0;
  margin: 0 0.8rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: black;
  background-color: whitesmoke;
}
.header-container .left-nav,
.header-container .right-nav,
.header-container ul.nav-menu {
  display: none;
}
@media screen and (min-width: 600px) {
  .header-container {
    margin-bottom: 1rem;
  }
  .header-container .left-nav,
  .header-container .right-nav,
  .header-container ul.nav-menu {
    display: block;
  }
  .header-container ul.nav-menu {
    display: flex;
    justify-content: flex-end;
  }
  .header-container ul.nav-menu li {
    margin: 0 2rem;
  }
}

.thumb-nav-container {
  display: block;
  background-color: black;
  padding: 0 2rem 0.1rem 0;
  border-top: 0.1rem solid white;
  font-size: 0.85rem;
}
.thumb-nav-container a {
  color: white;
}
.thumb-nav-container ul.nav-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0.8rem 0;
}
.thumb-nav-container li {
  margin: 0 1.3rem;
  text-align: center;
}
.thumb-nav-container li svg {
  width: 1.7rem;
  height: 1.7rem;
}

.thumb-nav-container {
  position: sticky;
  z-index: 99;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .thumb-nav-container {
    display: none;
  }
}
.footer-container {
  margin: 1.5rem 0 0 0;
  border-top: 0.08rem white solid;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}

.thumb-nav-parent {
  position: relative;
}

.home-page {
  margin: 0 1.5rem 2.5rem 1.5rem;
}

.about-page {
  margin: 0 1.5rem 2.5rem 1.5rem;
}

.projects-page {
  margin: 0 1.5rem 2.5rem 1.5rem;
}

.contact-page {
  margin: 0 1.5rem 2.5rem 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  margin: 7rem 0 0 0;
  padding: 0;
}
body li {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
